<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/stylesheets/ct-paper.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">WebRTC</a>
        </div>
    </div>
</nav>

<div class="container">
    {{{body}}}
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/kurento-client.min.js"></script>
<script type="text/javascript" src="/javascripts/kurento.js"></script>
</body>
</html>
